<div class="title-container">
    <h1 class="">About</h1>
</div>
<div class="content">
    Hello! My name is Fatima Alvarado and I am the author of this site.
    <br>
    This site allows users from all over the world to share their favorite recipes
    and also discover new recipes. Enjoy!
</div>
