<div class="title-container">
    <h1 class="" id="title">{{this.title}}</h1> calories: 
    <p id="cals"><i>{{this.calories}}</i></p>
</div>
<div class="content" id="inst">
    {{{this.instructions}}}
</div>