<div class="nav">
    <h1>Recipes for All!</h1>
    <div class="tags">
        <a href="/about" class="tag">About</a>
        <p>Search: </p>
        <input type="text" id="search"><br>
    </div>
</div>
<br><hr>